.resize-handle{
    width: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ece7e7;
}

.resize-image{
    height: 60px;
    width: 80%;
    background-color: rgb(133, 132, 132);
    border-radius: 8px;
    padding: 2px;
}
